.buttonContainer {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.buttonContainer:hover .shine {
    transform: skewX(20deg) translateX(300px);
}

.button {
    font-size: 40px;
    border-color: unset !important;
    background: rgba(255,255,255,0);
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.button:hover {
    background: rgba(255,255,255,0.4);
    transition: all 200ms;
}

.shine {
    z-index: 10;
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    width: 10px;
    background: rgba(255, 255, 255, 0.4);
    transition: all .3s linear;
    transform: skewX(20deg) translateX(0);
  }