.grid {
    position: fixed;
    z-index: 0;
    transform: translateX(-150px) perspective(1cm) rotateX(2deg) rotateY(0.1deg);
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(40, 80px);
    grid-template-rows: repeat(12, 30px);
    overflow: hidden;
}

@keyframes slide {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-80px);
    }
}

.vertical {
    animation: slide 1s linear 0s infinite;
    border-right: 3px solid ghostwhite;
}

.horizontal {
    border-top: 3px solid ghostwhite;
}