.tooltip {
    font-size: 17px !important;
    background-color: #1A202C !important;
    background: #1A202C !important;
    padding: 3px 7px !important;
    border: 2px solid white !important;
    border-radius: 0 !important;
}